.hamburger{
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    font-size: 0;
    overflow: visible;

    &.-active{
        .hamburger_inner{
            &:before{
                transform: rotate(45deg);
                top: 5px;
                transition: bottom 0.15s ease, transform 0.15s 0.18s cubic-bezier(0.215, 0.61, 0.355, 1);
            }

            &:after{
                transform: rotate(-45deg);
                bottom: 5px;
                transition: bottom 0.15s ease, transform 0.15s 0.18s cubic-bezier(0.215, 0.61, 0.355, 1);
            }
        }
    }

    .hamburger_box{
        width: 29px;
        height: 12px;
        display: inline-block;
        position: relative;
    }

    .hamburger_inner{
        &:before, &:after{
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background-color: $white;
            position: absolute;
            transition-property: transform;
            transition-duration: 0.2s;
            transition-timing-function: ease;
        }

        &:before{
            top: 0;
            transition: top 0.15s 0.18s ease, opacity 0.15s ease;
        }


        &:after{
            bottom: 0;
            transition: bottom 0.15s 0.18s ease, transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
    }

}